In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./kbo_21_24_merged.csv',encoding='cp949')
df.head()

,연도,순위,선수명,팀명,AVG,G,PA,AB,R,H,...,경기수,팀승수,팀패수,팀무승부수,팀승률,팀게임차,포지션,투구유형,타격유형,출생연도
0,2021,1,이정후,키움,0.360,123,544,464,78,167,...,144,70,67,7,0.511,7.0,외야수,우투,좌타,1998
1,2021,2,전준우,롯데,0.348,144,619,552,88,192,...,144,65,71,8,0.478,11.5,외야수,우투,우타,1986
2,2021,3,강백호,KT,0.347,142,627,516,76,179,...,144,76,59,9,0.563,0.0,내야수,우투,좌타,1999
3,2021,4,홍창기,LG,0.328,144,651,524,103,172,...,144,72,58,14,0.554,1.5,외야수,우투,좌타,1993
4,2021,5,박건우,두산,0.325,126,525,458,82,149,...,144,71,65,8,0.522,5.5,외야수,우투,우타,1990

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      213 non-null    int64
 1   순위      213 non-null    int64
 2   선수명     213 non-null    object
 3   팀명      213 non-null    object
 4   AVG     213 non-null    float64
 5   G       213 non-null    int64
 6   PA      213 non-null    int64
 7   AB      213 non-null    int64
 8   R       213 non-null    int64
 9   H       213 non-null    int64
 10  2B      213 non-null    int64
 11  3B      213 non-null    int64
 12  HR      213 non-null    int64
 13  TB      213 non-null    int64
 14  RBI     213 non-null    int64
 15  SAC     213 non-null    int64
 16  SF      213 non-null    int64
 17  BB      213 non-null    int64
 18  IBB     213 non-null    int64
 19  HBP     213 non-null    int64
 20  SO      213 non-null    int64
 21  GDP     213 non-null    int64
 22  SLG     213 non-null    float64
 23  OBP     213 non-null    float64
 24  OPS     213 non-null    float64
 25  MH      213 non-null    int64
 26  RISP    213 non-null    float64
 27  PH-BA   213 non-null    float64
 28  XBH     213 non-null    int64
 29  GO      213 non-null    int64
 30  AO      213 non-null    int64
 31  GO/AO   213 non-null    float64
 32  GW RBI  213 non-null    int64
 33  BB/K    213 non-null    float64
 34  P/PA    213 non-null    float64
 35  ISOP    213 non-null    float64
 36  XR      213 non-null    float64
 37  GPA     213 non-null    float64
 38  팀순위     213 non-null    int64
 39  경기수     213 non-null    int64
 40  팀승수     213 non-null    int64
 41  팀패수     213 non-null    int64
 42  팀무승부수   213 non-null    int64
 43  팀승률     213 non-null    float64
 44  팀게임차    213 non-null    float64
 45  포지션     213 non-null    object
 46  투구유형    213 non-null    object
 47  타격유형    213 non-null    object
 48  출생연도    213 non-null    int64
dtypes: float64(14), int64(30), object(5)
memory usage: 81.7+ KB

In [3]:
df.columns

Index(['연도', '순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B',
       'HR', 'TB', 'RBI', 'SAC', 'SF', 'BB', 'IBB', 'HBP', 'SO', 'GDP', 'SLG',
       'OBP', 'OPS', 'MH', 'RISP', 'PH-BA', 'XBH', 'GO', 'AO', 'GO/AO',
       'GW RBI', 'BB/K', 'P/PA', 'ISOP', 'XR', 'GPA', '팀순위', '경기수', '팀승수',
       '팀패수', '팀무승부수', '팀승률', '팀게임차', '포지션', '투구유형', '타격유형', '출생연도'],
      dtype='object')

In [28]:
df['플레이오프'] = df['팀순위'].astype(int) <= 5

In [26]:
df[df.PA == min(df.PA)] # 규정타석인 선수만 존재: 446타석이상

,연도,순위,선수명,팀명,AVG,G,PA,AB,R,H,...,ISOP,XR,GPA,팀순위,경기수,팀승수,팀패수,팀무승부수,팀승률,팀게임차
50,2021,51,최형우,KIA,0.233,104,446,373,52,87,...,0.142,53.0,0.253,9,144,58,76,10,0.433,17.5
103,2022,50,양석환,두산,0.244,107,446,405,58,99,...,0.188,56.4,0.247,9,144,60,82,2,0.423,29.0